<!DOCTYPE html>
<html lang="en">
<head>
    <title>Session Tracker</title>

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/factories/userFactory.js"></script>
    <script type="text/javascript" src="/scripts/controllers/tracker.js"></script>
    <script type="text/javascript" src="/scripts/controllers/input.js"></script>

    <link rel="stylesheet" href="/styles/style.css">
</head>
<body id="userPage" ng-app="myApp">
    <div>
        <main ng-view></main>
    </div>
</body>
</html>
